*{
  padding: 0;
  margin: 0;
}
.container{
  max-width:1170px;
  width: 100%;
  margin: auto;
}
header{
  background-image: url("../images/AboutUs_03.png");
  border-bottom: 15px solid white;
  &:before{
    display: block;
    content: "";
    max-width: 100%;
    height: 15px;
    background-image: url("../images/bg.png");
  }
  img{
    padding: 10px 0;
  }
}
section {
  background-image: url("../images/bg.png");
  padding-top: 50px;

  h1 {
    color: #ebc738;
    font-size: 36px;
    text-transform: uppercase;
  }

  .container.bg-white {
    background-color: white;
    padding: 10px;
  }
  p{
    padding-top: 10px;
    font-weight: lighter;
  }
}