*{
  padding: 0;
  margin: 0;
}
header{
  background-image: url("../images/AboutUs_03.png");
  border-bottom: 15px solid white;
  &:before{
    display: block;
    content: "";
    max-width: 100%;
    height: 15px;
    background-image: url("../images/bg.png");
  }
}